<!--
* @author Grzegorz Nowakowski
-->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>VPS Demo</title>
</head>
<body>
<div></div>


<div id="main-wrapper">
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-sm-6">
                    <div class="card">
                        <div class="stat-widget-two card-body">
                            <div class="stat-content"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-sm-6">
                    <div class="card">
                        <div class="stat-widget-two card-body">
                            <!--    content   -->
                            <div class="stat-content">

test

                            </div>
                            <!--    content   -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="card">
                        <div class="stat-widget-two card-body">
                            <div class="stat-content"></div>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>

        </div>
    </div>
</div>


<div></div>
</body>
</html>